	<!DOCTYPE html>
	<html lang="ar"  dir="rtl">
	<head >
	<meta charset="utf-8">
	
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/logo3.png">
		<!-- Author Meta -->
		<meta name="author" content="CodePixar">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta charset="utf-8"/>
		
		
		<!-- Site Title -->
		<title>Tarek Bakheet</title>
		
		<!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="img/logo3.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/logo3.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/logo3.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/logo3.png">
        <link rel="apple-touch-icon-precomposed" href="img/logo3.png">

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		
		<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
		

		
		<!--
			CSS
			============================================= -->
			
			<!-- Bootstrap -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
			
			<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/3.3.7/css/bootstrap.min.css"integrity="sha384-cSfiDrYfMj9eYCidq//oGXEkMc0vuTxHXizrMOFAaPsLt1zoCUVnSsURN+nef1lj"crossorigin="anonymous"> <!-- bootstrap rtl -->
			
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/jquery.DonutWidget.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			
			

		
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			
			<!-- me -->
			<link rel="stylesheet" href="css/ArabicFonts.css">
			<link rel="stylesheet" href="css/ShowMore.css">
			<link rel="stylesheet" href="css/developer.css">
			<link type="text/css" rel="stylesheet" href="css/coursal.css"/>
			<link type="text/css" rel="stylesheet" href="css/card.css"/>
			<link rel="stylesheet" href="css/ModelBox.css">
			<link rel="stylesheet" href="css/register.css">
			<link type="text/css" rel="stylesheet" href="css/select.css"/>
			
			


			
			
			
			
		
		</head>
		
		<body>

			<!-- Start Header Area -->
			<header class="default-header reem_kufi">
				<!-- TOP HEADER -->
				<div id="top-header">
					<div class="container">
						<ul class="header-links pull-right">
							<li><a href="#"></i> English </a></li>
							<li><a href="#"><i class="fas fa-users-cog"></i> متحكم بالموقع </a></li>
						</ul>
					</div>
				</div>
				<!-- /TOP HEADER -->

				<nav class="navbar navbar-expand-lg  navbar-light">
					<div class="container-fluid">
						  <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
						    <ul class="navbar-nav">
								<a class=" " href="#home"> <img src="img/logo3.png" alt="" width="135"></a>
							</ul>
							<ul class="navbar-nav">
								<li><a href="#account_service">الخدمات المحاسبية</a></li>
								<li><a href="#electronic_service">الخدمات الالكترونية</a></li>
								<li><a href="#courses">الدورات التدريبية</a></li>
								<li><a href="#aboutUs">عنا</a></li>
								<li><a href="#footer">الفروع</a></li>
								<li><a href="#footer">للتواصـل</a></li>
							  </ul>
						  </div>						
					</div>
				</nav>
			</header>
			<!-- End Header Area -->
			
			<!-- course details -->
			<section class="pt-170 pb-170 " id="details" >
				<div class="container pt-10 pb-10" >
					
					<h2 class="text-center"> تفاصيل الدورة </h2>
					
					<div class="row">
						
						<!-- course main img -->
						<div class="col-md-4">
							<img src="./img/header6.jpg" alt="" width=100%>
						</div>
						<!-- /course main img -->
						
						<!-- course details -->
						<div class="container col-md-8">
							<div >
								<label>دورة :</label>
								<label>المحاسبة لغير المحاسبين</label>
							</div>
							
							<div >
								<label>السعر :</label>
								<label>55<span style="color:green;"> ج.م</span></label>
							</div>
							
							<div >
								<label>تفاصيل سريعة :</label>
								<label>الدورة في المحاسبه لغير المحاسبين</label>
							</div>
							
							
							<div >
								<label>المميزات :</label>
								<label>شهادة بعد الدورة و تدريب للمتميزين</label>
							</div>
							
							<div>
								<label>التفاصيل كاملة :</label>
								<p> تقام الدوره في المكتب كذا و سيقوم بتدريسها استاذ محمد و هو خبير في المحاسبه و متخرج من جامعه كذا و عامل كذا و كذا  وتحتوي الدورة ع كذا و كذا و كذا واللي هي من اهم النقاط الرئيسية في المحاسبه وسوف يتم عمل ورش عمل في المكتب لتدريب ع اهم التفاصيل والتاكد من اتقان المتدربين لمهارات المحاسبه و ال كذا و ال كذا وسوف يتم انعقاد اول محاضرة في يوم الخميس الموافق 22/2/2018 و ذلك ل اعطاء مقدمه عن الدوره و ذكر اللي هيتعمل بعد كده خلال الدورة</p>
							</div>
							
							<div class="col-md-4 col-md-push-9">
								<button class="genric-btn info circle" onclick="showRegister();"> الأشتراك في الدورة</button>
								
							</div>

							
						</div>
						<!-- /course details -->
	
					</div>
				</div>
			</section>
			
			<!-- The Modal -->
			<section class="service-area  pt-150 pb-150" id="register" >
				<div id="Register">
					<h2 class="text-center pt-50 pb-50"> التسجيل في الدورة </h2>
					
					<div class="container">
						<div class="row">
								<div class="limiter">
									<span><i class="fas fa-star-of-life"></i> مطلوب </span>
									<div class="container-login100">
										<div class="wrap-login100">
											<form class="login100-form validate-form">
												<div class="col-md-12">
												
													<div class="col-md-6 wrap-input100 validate-input" data-validate="يرجى ادخال الاسم بطريقة صحيحة">
														<span class="label-input100">الاسم </span>
														<i class="fas fa-star-of-life"></i>
														<input class="input100" type="text" name="name" placeholder="أحمد محمد ....">
														<span id="first"; class="focus-input100"></span>
													</div>

													<div class="col-md-6 col-md-push-1 wrap-input100 validate-input" data-validate = "يرجى إدخال البريد الإلكتروني بطريقة صحيحة  example@example.com">
														<span class="label-input100">البريد الالكتروني</span>
														<input class="input-not-required" type="email" name="email" placeholder="example@example.com">
														<span class="focus-input100"></span>
													</div>
												</div>
												
												<div class="col-md-12">
													<div class="col-md-6 wrap-input100 validate-input" data-validate="رقم التليفون لا يقل عن 11 رقم">
														<span class="label-input100">رقم التليفون</span>
														<i class="fas fa-star-of-life"></i>
														<input class="input100" type="number" name="phone" placeholder="...01">
														<span class="focus-input100"></span>
													</div>
													
													<div class="col-md-6 col-md-push-1 wrap-input100 validate-input" data-validate="">
														<span class="label-input100"> رقم البطاقة </span>
														<input class="input-not-required" type="text" name="nationalID" placeholder="....2">
														<span class="focus-input100"></span>
													</div>
												</div>
												
												<div class="col-md-12">
													<div class="col-md-6 wrap-input100 validate-input" data-validate="يرجى ادخال اسم الكليه بطريقة صحيحة">
														<span class="label-input100"> الكلية </span>
														<i class="fas fa-star-of-life"></i>
														<input class="input100" type="text" name="faculty" placeholder="كلية التجارة">
														<span class="focus-input100"></span>
													</div>
												
													<div class="col-md-6 col-md-push-1 wrap-input100 validate-input" data-validate="يرجى ادخال اسم القسم بطريقة صحيحة">
														<span class="label-input100"> القسم </span>
														<i class="fas fa-star-of-life"></i>
														<input class="input100" type="text" name="department" placeholder="محاسبة">
														<span class="focus-input100"></span>
													</div>

												</div>
												
												<div class="col-md-12">
													
													<div class="col-md-4 section-smallGap">
														<span class="label-input100"> اللغة </span>
														<i class="fas fa-star-of-life"></i>
														<div>
															<select class="select" name="language">
																<option value="0">اللغة</option>
																<option value="1">عربي</option>
																<option value="2">English</option>
																<option value="3">langue française</option>
															</select>
														</div>
														
													</div>
												
													<div class="col-md-4 col-md-push-1 section-smallGap">
														<span class="label-input100"> سنة التخرج </span>
														<i class="fas fa-star-of-life"></i>
														<div class="">
															<select class="select" name="gradYear">
																<option value="0">سنة التخرج</option>
																<option value="1">1990</option>
																<option value="2">1991</option>
																<option value="3">1992</option>
																<option value="4">1993</option>
																<option value="5">1994</option>
																<option value="6">1995</option>
																<option value="7">1996</option>
																<option value="8">1997</option>
															</select>
														</div>

													</div>
													
													<div class="col-md-4 col-md-push-2 section-smallGap">

														<span class="label-input100"> التقدير </span>
														<i class="fas fa-star-of-life"></i>
														<div>
															<select class="select" name="grade">
																<option value="0">التقدير العام</option>
																<option value="1">مقبول</option>
																<option value="2">جيد</option>
																<option value="3">جيد جدا</option>
																<option value="4">ممتاز</option>
															</select>
														</div>

													</div>
													
												</div>
									
												<div class="col-md-4 col-md-push-12">
													<button class="registerButton">
														إشتراك
													</button>
												</div>
												
											</form>
											
										</div>
										
									</div>
								</div>	
								
						</div>
						
					</div>
				</div>	
			</section>
			
			<!-- start courses area -->
			<section class="service-area pt-170 pb-170 " id="courses" >
				<div class="container">
					<h1 class="text-center"> الدورات التدريبية  </h1>
		
					<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
						<div class="carousel-inner">
							
							<div class="item active">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class='product-card'>
										<div class="product-image">
											<img src="img/header1.jpg" />
										</div>
										<div class="inner">
											<h1 class="title ">المحاسبة <span>لغير المحاسبين</span></h1>
											<p>دورات في المحاسبة لغير المحاسبين</p>
											<dl>
												<dt>أهم المميزات</dt>
												<dd>شهادة بعد الدورة </dd>
												<dd>تدريبات للمتميزين</dd>
											</dl>
										</div>
										<ul class="actions clear">
											<li>
											  <a href="#details" >تفاصيل الدورة</a>
											</li>
											<li>
											  <a href="#register" >الأشتراك بالدورة</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="item">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class='product-card'>
										<div class="product-image">
											<img src="img/header3.jpg" />
										</div>
										<div class="inner">
											<h1 class="title "> المحاسبة بجميع فروعها<span>للمحاسبين حديثي التخرج</span></h1>
											<p>دورات في المحاسبة بجميع فروعها للمحاسبين حديثي التخرج</p>
											<dl>
												<dt>أهم المميزات</dt>
												<dd>شهادة بعد الدورة </dd>
												<dd>تدريبات للمتميزين</dd>
											</dl>
										</div>
										<ul class="actions clear">
											<li>
											  <a >تفاصيل الدورة</a>
											</li>
											<li>
											  <a>الأشتراك بالدورة</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="item">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class='product-card'>
										<div class="product-image">
											<img src="img/header6.jpg" />
										</div>
										<div class="inner">
											<h1 class="title">إعداد المحاسبين   <span>للعمل</span></h1>
											<p>دورات في إعداد المحاسبين للعمل</p>
											<dl>
												<dt>أهم المميزات</dt>
												<dd>شهادة بعد الدورة </dd>
												<dd>تدريبات للمتميزين</dd>
											</dl>
										</div>
										<ul class="actions clear">
											<li>
											  <a >تفاصيل الدورة</a>
											</li>
											<li>
											  <a>الأشتراك بالدورة</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						
						</div>
					  	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
					</div>
				</div>
			</section>


			
			
			
			<!-- start footer Area -->		
			<footer class="footer-area "  id="footer">
				<div class="section section-gap">
					<div class="container">
						<div class="row">
							<div class="col-lg-9  col-md-12" >
								<div class="single-footer-widget">
									<h6>الفروع</h6>
									<ul class="footer-nav">
										
										<li class="d-flex flex-row">
											<div class="col-lg-3">
												<img src="img/company photo.jpg" width=100%   alt="">
											</div>
											
											<div class="col-lg-6 desc">
												<a href="#"><i class="fa fa-map-marker"></i> أسيوط : 81 ش الهلالي</a>
												<p><i class="fa fa-mobile"></i> 20-10-06807010+ </p>
											</div>
										</li>
										
										<li class="d-flex flex-row">
											<div class="col-lg-3">
												<img src="img/company photo.jpg" width=100%   alt="">
											</div>
											
											<div class="col-lg-6 desc">
												<a href="#"><i class="fa fa-map-marker"></i> القاهرة:2 عمارات حدائق رامو الدور الأول شقة 105 مدينة نصر بجوار سيتي ستارز </a>
												<p><i class="fa fa-phone"></i> 20-88-24149868+ </p>
											</div>
										</li>
										
									</ul>
								</div>
							</div>
							<div class="col-lg-3  col-md-12">
								<div class="single-footer-widget contacts">
									<h6>للتواصـل</h6>
									<ul class="d-flex flex-wrap">
										<li><i class="fa fa-mobile"></i> 20-10-02135075+ </li>
										<li><i class="fa fa-phone"></i> 20-88-24149868+ </li>
										<li><i class="fa fa-envelope-o"></i> Tarekmbm@masrawy.com </li>
										<li><i class="fab fa-whatsapp"></i> 20-10-00052326+ </li>
									</ul>
									
									<a href="#"><i class="fab fa-facebook"></i></a>
									<a href="#"><i class="fab fa-twitter"></i></a>
									<a href="#"><i class="fab fa-instagram"></i></a>
									<a href="#"><i class="fab fa-linkedin-in"></i></a>
									
								</div>
							</div>		
						</div>
					</div>
				</div>
				<!-- bottom footer -->
				<div id="bottom-footer" class="section"dir="ltr">
					<div class="container">
						<!-- row -->
						<div class="row">
							<div class="col-md-12 text-center">
								<div class="developer">
									<h1>Developed by</h1>
									<p><i class="fa fa-user"></i> Name: Abdulnaser Ahmed Mohsen</p>
									<p><i class="fa fa-map-marker"></i> Address: Elsadat, Assiut, Egypt</p>
									<p><i class="fa fa-mobile"></i> Mobile Phone: +20-11-25567102</p>
									<p><i class="fa fa-envelope"></i> Email: naserahmed1995@gmail.com</p>
									<a href="https://www.linkedin.com/in/abdulnaser-mohsen-7233a5103/"><i class="fa fa-linkedin"></i></a>
									<a href="https://github.com/AbdulnaserMohsen"><i class="fa fa-github"></i></a>
								</div>
								
							
								<span class="copyright">
									Developed in 2019
									
									<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
						
								</span>
							</div>
						</div>
							<!-- /row -->
					</div>
					<!-- /container -->
				</div>
				<!-- /bottom footer -->
			</footer>
			<!-- End footer Area -->		

			<script src="js/js/jquery.min.js"></script>
			<script src="js/js/bootstrap.min.js"></script>
			<script src="js/coursal.js"></script>
		
			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/owl.carousel.min.js"></script>			
			<script src="js/jquery.sticky.js"></script>
			<script src="js/jquery.DonutWidget.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>			
			<script src="js/main.js"></script>
			<script src="js/register.js"></script>
			<script src="js/select.js"></script>
			
			

			
		</body>
	</html>